<div *ngIf="creators">
    <div class="ui inverted very padded segment">
    <table class="ui inverted table">
        <thead><tr>
            <th class="six wide"><h1 class="ui image header">Creator</h1></th>
            <th class="ten wide"><h1 class="ui image header">Contributions</h1></th>
        </tr></thead>
        <tbody>
            <tr *ngFor="let creator of creators">
            
                <td>
                    <h4 class="ui image header">
                        <img src="images/{{creator._id.userPicture}}" class="ui tiny rounded image">
                        <div class="content">
                            <h5 class="header">{{creator._id.firstName}} {{creator._id.lastName}}</h5> 
                        </div>
                    </h4>
                </td>
                <td class="middle aligned">
                     <span *ngFor="let i of creator.articleCount | fill">
                            <i class="newspaper large icon"></i>
                        </span>
                </td>
                </tr>

        </tbody>
    </table>


    <hr>
    <h1 class="ui header">Development Team</h1>
    <div class="ui stackable four column grid">
        <div class="column">         
            <img class="ui small circular image" src="images/vithushan.png">
        </div>
        <div class="column">
            <img class="ui small circular image" src="images/sujee.png">
        </div>

    </div>
    </div>