<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Cardill Sports</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Angular 2 JumpStart">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://s3.amazonaws.com/cardillsports/csLogo.png" rel="icon" type="image/png"/>
    
    <link href="styles/semantic.css" rel="stylesheet" />
    <link href="styles/cardill-features.css" rel="stylesheet" />
    <link href="styles/cardill-post.css" rel="stylesheet" />
    
    
    <!-- Polyfill(s) for older browsers -->
    <script src="js/shim.min.js"></script>
    
    <script src="js/zone.min.js"></script>
    <script src="js/Reflect.js"></script>
    <script src="js/system.src.js"></script>

	<!-- remove for bundle usage -->
	<script src="systemjs.config.js"></script>
	<script>
		System.import('app').catch(function(err){ console.error(err); });
	</script>
	<!-- remove for bundle usage -->

    <script src="js/jquery.min.js"></script>
    <script src="js/semantic.min.js"></script>

</head>
<body>

    <main class="container">
        <app-container>
            
                <div class="ui active dimmer">
                    <div class="ui massive text loader">Loading</div>
                </div>
                <p></p>
                <p></p>
                <p></p>
        </app-container>    
    </main>

	<!-- add for bundle usage
	<script src="dist/bundle.js"></script> 
	add for bundle usage -->
    
</body>
</html>
