<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Cardill Sports</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Angular 2 JumpStart">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/csLogo.png" rel="icon" type="image/png"/>
    <link href="styles/main.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="styles/semantic.css" rel="stylesheet" />
    <link href="styles/cardill-features.css" rel="stylesheet" />
    <link href="styles/cardill-post.css" rel="stylesheet" />
    
    
    <!-- Polyfill(s) for older browsers -->
    <script src="js/shim.min.js"></script>

    <script src="js/jquery.js"></script>
    
    <script src="js/semantic.js"></script>
    <script src="js/bootstrap.js"></script>
    

    <script src="js/zone.js"></script>
    <script src="js/Reflect.js"></script>
    <script src="js/system.src.js"></script>

	<!-- remove for bundle usage -->
	<script src="systemjs.config.js"></script>
	<script>
		System.import('app').catch(function(err){ console.error(err); });
	</script>
	<!-- remove for bundle usage -->

</head>
<body>

    <main class="container">
        <app-container>
            
                <div class="ui active dimmer">
                    <div class="ui massive text loader">Loading</div>
                </div>
                <p></p>
                <p></p>
                <p></p>
        </app-container>
        <br /><br />
    </main>

    <footer>
    
        <div class="navbar-inner footer">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-md-12">
                            Created by Cardill Sports
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    
    </footer>
    
	<!-- add for bundle usage 
	<script src="dist/bundle.min.js"></script> -->
	<!-- add for bundle usage -->
    
</body>
</html>
