<div class="ui stackable two column centered grid cards">
    <div *ngFor="let article of articles;">
        <div class="ui fluid card">                
                
                    <div *ngIf="article.Type == 'Podcast'">
                        <div class="ui large image">
                            <iframe width="100%" height="325" scrolling="no" frameborder="no" 
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/272651007&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>

                        <div class="content article-metadata">
                            <h4>{{article.Name}}</h4>                    
                        </div>
                        <div class="extra content">
                            <div class="article-metadata">
                                <img class="circular" src="images/{{article.Owner.userPicture}}">
                                <span class="author-name">{{article.Owner.firstName | uppercase}} {{article.Owner.lastName | uppercase}}</span>
                            </div>   
                        </div>
                    </div>
                    <div *ngIf="article.Type == 'Article'">
                        <a [routerLink]="['/articles',article.ID]">
                            <div class="ui large image">
                                <img src="images/{{article.ImageLink}}">
                            </div>
                            
                            <div class="content article-metadata">
                                <a class="header"><h4>{{article.Name}}</h4></a>                    
                            </div>
                            <div class="extra content">
                                <div class="article-metadata">
                                    <img class="circular" src="images/{{article.Owner.userPicture}}">
                                    <span class="author-name">{{article.Owner.firstName | uppercase}} {{article.Owner.lastName | uppercase}}</span>
                                </div>   
                            </div>

                        </a>
                    </div>
              
        </div>
    </div>
    <div *ngIf="!articles.length">
        No Records Found
    </div>
</div>
