
    <featured-article
        [article]="featuredArticle"></featured-article>


    <article-cards
          [articles]="articles"></article-cards>

    <div id="about" class="wrapper style3 special">
        <div class="inner">
            <header class="major narrow ">
                <h2>Meet The Team</h2>
                <hr>
                <p>We are a group of people passionate about all things sports</p>
                <a href="#" class="button big alt">About Us</a>
            </header>
            
        </div>
    </div>
